@model College.Model.DataTransferObject.FrontEndOtherDto.PageAttachmentModelDto
@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewData["Title"] = "Prospectus -";
}
@(await Html.PartialAsync("~/Views/Shared/_AlertLayout.cshtml"))
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>
                    Prospectus Page
                    <a asp-controller="WebSite" asp-action="Index" class="btn btn-primary btn-sm text-light" style="float: right;">
                        <i class="fas fa-arrow-left"></i> Back to website manager
                    </a>
                </h5>
            </div>
            <div class="card-body card-block">
                <form asp-controller="Page" asp-action="UpdatePageWithAttachment" method="post" enctype="multipart/form-data" asp-antiforgery="true">
                    <div class="form-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger">
                            <span>Please correct the following errors</span>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Page.PageId"/>

                    <div class="row">

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-laptop"></i>
                                    &nbsp;&nbsp;
                                    <label asp-for="Page.PageName"></label>
                                </div>
                                <input asp-for="Page.PageName" class="au-input au-input--full" type="text" required/>
                                <span asp-validation-for="Page.PageName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-comments"></i>
                                    &nbsp;&nbsp;
                                    <label asp-for="Page.Description"></label>
                                </div>
                                <textarea asp-for="Page.Description" placeholder="Description" class="au-input au-input--full textarea-init" required>@Model.Page.Description</textarea>
                                <span asp-validation-for="Page.Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-photo"></i>
                                    &nbsp;&nbsp;
                                    <label asp-for="Page.ImageString"></label>
                                </div>
                                <input asp-for="Page.ImageString" type="file" class="dropify form-control-file" data-max-file-size="5M" data-allowed-file-extensions="jpg jpeg png">
                                <p for="ImageString">Image (5MB)</p>
                                <span asp-validation-for="Page.ImageString" class="text-danger"></span>
                            </div>
                            @if (Model.Page.BackgroundImage != null)
                            {
                                <div class="row">
                                    <div class="col-sm-12 d-flex justify-content-center ">
                                        <img asp-append-version="false" src="@Model.Page.BackgroundImage" alt="@Model.Page.BackgroundImage image not found" style="max-height: 200px; width: auto;"/>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="text-center">Current Image</p>
                                    </div>
                                </div>
                            }
                        </div>
                        <hr/>
                        <input type="hidden" asp-for="Attachment.AttachmentId"/>
                        <input type="hidden" asp-for="Attachment.PageId"/>

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-file"></i>
                                    &nbsp;&nbsp;
                                    <label asp-for="Attachment.FileName"></label>
                                </div>
                                <input asp-for="Attachment.FileName" class="au-input au-input--full" type="text" required/>
                                <span asp-validation-for="Attachment.FileName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-file"></i>
                                    &nbsp;&nbsp;
                                    <label asp-for="Attachment.FileString"></label>
                                </div>
                                <input asp-for="Attachment.FileString" type="file" class="dropify form-control-file" data-max-file-size="10M" data-allowed-file-extensions="pdf">
                                <p for="File">Pdf (10MB)</p>
                                <span asp-validation-for="Attachment.FileString" class="text-danger"></span>
                            </div>
                            @if (Model.Attachment.Link != null)
                            {
                                <div class="row">
                                    <div class="col-sm-12 d-flex justify-content-center ">
                                        <button class="btn btn-danger">
                                            <i class="fas fa-file"></i><a class="text-light" href="@(Model.Attachment.Link)" target="_blank">&nbsp;&nbsp; @Model.Attachment.FileName</a>
                                        </button>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="text-center">Current File</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="form-actions form-group">
                        <button class="btn btn-success btn-sm" type="submit"><i class="fas fa-edit"></i> Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}