@model College.Model.DataTransferObject.GalleryDto.GalleryImageModelDto
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewData["Title"] = "Update Gallery -";
    var images = 1;
    string baseUrl = Url.ActionContext.HttpContext.Request.Scheme + "://" + Url.ActionContext.HttpContext.Request.Host;
    var galleryID = HttpContextAccessor.HttpContext.Session.GetInt32("_GalleryID");
}
@(await Html.PartialAsync("~/Views/Shared/_AlertLayout.cshtml"))
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>
                    Update Gallery File
                    <a asp-controller="Page" asp-action="Gallery" class="btn btn-primary btn-sm text-light" style="float: right;">
                        <i class="fas fa-arrow-left"></i>  Back to gallery
                    </a>
                </h5>
            </div>
            <div class="card-body card-block">
                <form asp-action="GalleryUpdate" asp-controller="Page" method="post" enctype="multipart/form-data" asp-antiforgery="true">
                    <div class="form-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger">
                            <span>Please correct the following errors</span>
                        </div>
                    </div>

                    <input type="hidden" asp-for="Gallery.GalleryId" />

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label asp-for="Gallery.Title"></label>
                                <input asp-for="Gallery.Title" class="au-input au-input--full" type="text" required />
                                <span asp-validation-for="Gallery.Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label asp-for="Gallery.Photographer"></label>
                                <input asp-for="Gallery.Photographer" class="au-input au-input--full" required type="text" />
                                <span asp-validation-for="Gallery.Photographer" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label asp-for="Gallery.FileString"></label>
                                <input asp-for="Gallery.FileString" type="file" class="dropify form-control-file" required data-max-file-size="5M" data-allowed-file-extensions="jpg jpeg png">
                                <p for="Thumbnail">Image 5MB</p>
                                <span asp-validation-for="Gallery.FileString" class="text-danger"></span>
                            </div>
                            @if (Model.Gallery.Thumbnail != null)
                            {
                                <div class="row">
                                    <div class="col-sm-12 d-flex justify-content-center ">
                                        <img asp-append-version="false" src="@Model.Gallery.Thumbnail" alt="@Model.Gallery.Thumbnail image not found" style="max-height: 200px; width: auto;" />
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="text-center">Current Thumbnail Image</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="form-actions form-group">
                        <button class="btn btn-success btn-sm" type="submit"><i class="fas fa-rocket"></i> Add</button>
                        <button class="btn btn-danger btn-sm" type="reset"><i class="fas fa-trash"></i> Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h5>
                        Images
                        <a asp-controller="Page" asp-action="ImageAdd" class="btn btn-primary btn-sm text-light" style="float: right;">
                            <i class="fas fa-plus"></i>  Add
                        </a>
                    </h5>
                </div>
            </div>
            <div class="card-body">
                @if (Model.Images.Count > 0)
                {
                    foreach (var items in Model.Images)
                    {
                        <ul class="list-group">
                            <li class="list-group-item">
                                <b>@(images++).</b>&nbsp; <a href="@(baseUrl+items.ImageLink.Replace(@"\", "/"))" target="_blank" class="gallery_img"><img src="@(baseUrl+items.ImageLink.Replace(@"\", "/"))" class="img img-thumbnail" style="max-height: 100px; width: auto;" /></a>
                                <div class="card-text text-sm-center float-sm-right">
                                    <a asp-controller="Page" asp-action="ImageUpdate" asp-route-id="@items.ImageId"> <i class="fas fa-edit text-success"></i> Edit</a> |
                                    <a href="#" onclick="NotifyAndDeleteImage(@items.ImageId,@galleryID)"><i class="fas fa-trash" style="color: red;"></i> Delete</a>
                                </div>
                            </li>
                        </ul>
                    }
                }
                else
                {
                    <div class="text-center"><h4>Dat not found</h4></div>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function NotifyAndDeleteImage(id, ownId) {
            swal({
                title: "Are you sure?",
                text: "You want to delete this file, You won't be able to revert this data!",
                icon: 'warning',
                closeOnEsc: false,
                closeOnClickOutside: false,
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Page/ImageDelete",
                        dataType: "json",
                        headers: {
                            "RequestVerificationToken": $('input[name = __RequestVerificationToken]').val()
                        },
                        data: {
                            id: id
                        },
                        success: function (response) {
                            swal("Poof all gone! " + response,
                                {
                                    icon: "success",
                                }).then(function () {
                                    window.location.href = "/Page/GalleryUpdate/" + ownId;
                                });
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
            });
        }
    </script>
}