@using System.Collections
@using College.Helpers
@using College.Model.DataTransferObject.AuthDto
@using Microsoft.AspNetCore.Components.Forms
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@model IList<College.Model.DataTransferObject.AuthDto.AuthorDisplayModelDto>
@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewData["Title"] = "Users List -";
    string baseUrl = HttpContextAccessor.HttpContext.Request.Scheme + @":\\" + Url.ActionContext.HttpContext.Request.Host;
    var UserInfo = HttpContextAccessor.HttpContext.Session.GetComplexData<AuthBasicDetailsModelDto>("_Details");
}
@(await Html.PartialAsync("~/Views/Shared/_AlertLayout.cshtml"))

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <strong>User</strong>
            @if (UserInfo.RoleId != 3)
            {
                <a asp-controller="User" asp-action="Create" class="btn btn-primary text-light" style="float: right;">
                    <i class="fas fa-plus"></i> Add
                </a>
            }
        </div>
        <div class="card-body card-block">

            @if (Model.Count > 0)
            {
                <div class="row">
                    @foreach (var UserItem in Model)
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-user text-success"></i>
                                    <strong class="card-title pl-2">@UserItem.FullName's Profile</strong>
                                    <strong class="card-title float-right text-primary">@(UserItem.RoleId==1?"Admin":UserItem.RoleId==2?"Developer":"Manager")</strong>
                                </div>
                                <div class="card-body">
                                    <div class="mx-auto d-block">
                                        <div class="img-thumbnail d-flex justify-content-center">
                                            <img class="img-fluid" src="@(UserItem.Image == null ? "/images/user.png" : UserItem.Image)" alt="Not Found" style="max-height: 200px; width: auto;" />
                                        </div>
                                        <h5 class="text-sm-center mt-2 mb-1">
                                            <i class="fa fa-user"></i>  @UserItem.FullName
                                        </h5>
                                        <h5 class="text-sm-center mt-2 mb-1">
                                            <i class="fa fa-envelope"></i>  <a href="mailto:@(UserItem.Email)">@UserItem.Email</a>
                                        </h5>
                                        <div class="location text-sm-center">
                                            <i class="fa fa-map-marker"></i>  @(string.IsNullOrWhiteSpace(UserItem.Address)?"N/a":UserItem.Address)
                                        </div>
                                        <div class="location text-sm-center">
                                            <i class="fa fa-tablet"></i>  @(string.IsNullOrWhiteSpace(UserItem.PhoneNumber)?"N/a":UserItem.PhoneNumber)
                                        </div>
                                    </div>
                                    @if (UserItem.RoleId != 2)
                                    {
                                        <hr>
                                        <div class="card-text text-sm-center">
                                            <a asp-controller="User" asp-action="Details" asp-route-id="@UserItem.AuthId"> <i class="fas fa-eye text-primary"></i> View</a> |
                                            <a href="#" onclick="NotifyAndDelete(@UserItem.AuthId, '@UserItem.FullName')"><i class="fas fa-trash" style="color: red;"></i> Delete</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="text-center"><h4>Dat not found</h4></div>
            }
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function NotifyAndDelete(id, user) {
            swal({
                title: "Are you sure?",
                text: "You want to delete " + user + " from User list, You won't be able to revert this!",
                icon: 'warning',
                closeOnEsc: false,
                closeOnClickOutside: false,
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/User/Delete",
                        dataType: "json",
                        headers: {
                            "RequestVerificationToken": $('input[name = __RequestVerificationToken]').val()
                        },
                        data: {
                            UserID: id,
                            FullName: user
                        },
                        success: function (response) {
                            swal("Poof all gone! " + response, {
                                icon: "success",
                            }).then(function () {
                                window.location.href = "/User/Index"
                            });
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
            });
        }
    </script>
}