@using System.Text
@using System.Net
@using College.Helpers
@using College.Model.DataTransferObject.AttachmentDto
@using College.Model.DataTransferObject.FrontEndOtherDto
@using College.Model.DataTransferObject.PageDto
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "About Us -";
    string pageName = @ViewContext.RouteData.Values["action"].ToString();
    string baseUrl = Url.ActionContext.HttpContext.Request.Scheme + "://" + Url.ActionContext.HttpContext.Request.Host;
}
@{
    var LayoutModel = HttpContextAccessor.HttpContext.Session.GetComplexData<LayoutModelDto>("_Layout");
    var AboutModel = HttpContextAccessor.HttpContext.Session.GetComplexData<PageModelDto>("_About");
    var BrochureModel = HttpContextAccessor.HttpContext.Session.GetComplexData<AttachmentModelDto>("_Brochure");
}
<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light" data-img-src="@(baseUrl+AboutModel.BackgroundImage.Replace(@"\", "/"))" style="background-image: url('@(baseUrl+AboutModel.BackgroundImage.Replace(@"\", "/"))')">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>About Us</h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION ABOUT -->
<div class="section small_pb">
    <div class="container">
        @Html.Raw(AboutModel.Description)
        @if (BrochureModel != null)
        {
            if (!string.IsNullOrWhiteSpace(BrochureModel.Link))
            {
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9">
                        <object class="embed-responsive-item" data="@BrochureModel.Link" type="application/pdf" internalinstanceid="9" title="@BrochureModel.FileName">
                            <p>
                                Your browser isn't supporting embedded pdf files. You can download the file
                                <a href="@BrochureModel.Link">here</a>.
                            </p>
                        </object>
                    </div>
                    <br />
                    <a href="@BrochureModel.Link" target="_blank"><i class="fas fa-file-pdf text-danger"></i> Download @BrochureModel.FileName </a>
                </div>
            }
        }
    </div>
</div>
<!-- END SECTION ABOUT -->
