@using College.Helpers
@using College.Model.DataTransferObject.FrontEndOtherDto
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Agriculture -";
    var baseUrl = Url.ActionContext.HttpContext.Request.Scheme + "://" + Url.ActionContext.HttpContext.Request.Host;
}
@{
    var LayoutModel = HttpContextAccessor.HttpContext.Session.GetComplexData<LayoutModelDto>("_Layout");
    var AgricultureModel = HttpContextAccessor.HttpContext.Session.GetComplexData<PageAttachmentModelDto>("_Agriculture");
}

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light" data-img-src="@(baseUrl + AgricultureModel.Page.BackgroundImage.Replace(@"\", "/"))" style="background-image: url('@(baseUrl + AgricultureModel.Page.BackgroundImage.Replace(@"\", "/"))')">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>Agriculture</h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">Academics</li>
                    <li class="breadcrumb-item active">Agriculture</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION EVENT DETAIL -->
<div class="section">
    <div class="container">
        <div class="row">
            @Html.Raw(AgricultureModel.Page.Description)
        </div>
        @if (!string.IsNullOrWhiteSpace(AgricultureModel.Attachment.Link))
        {
            <div class="row">
                <div class="embed-responsive embed-responsive-16by9">
                    <object class="embed-responsive-item" data="@AgricultureModel.Attachment.Link" type="application/pdf" internalinstanceid="9" title="@AgricultureModel.Attachment.FileName">
                        <p>
                            Your browser isn't supporting embedded pdf files. You can download the file
                            <a href="@AgricultureModel.Attachment.Link">here</a>.
                        </p>
                    </object>
                </div>
                <br/>
                <a href="@AgricultureModel.Attachment.Link" target="_blank"><i class="fas fa-file-pdf text-danger"></i> Download @AgricultureModel.Attachment.FileName </a>
            </div>
        }
    </div>
</div>
<!-- END SECTION EVENT DETAIL -->