@using System.Text
@using System.Net
@using College.Helpers
@using College.Model.DataTransferObject.FrontEndOtherDto
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Staffs And Faculties -";
    string baseUrl = Url.ActionContext.HttpContext.Request.Scheme + "://" + Url.ActionContext.HttpContext.Request.Host;
}
@{
    var LayoutModel = HttpContextAccessor.HttpContext.Session.GetComplexData<LayoutModelDto>("_Layout");
    var FacultyModel = HttpContextAccessor.HttpContext.Session.GetComplexData<PageTeacherModelDto>("_Faculties");
}

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light" data-img-src="@(baseUrl+FacultyModel.Page.BackgroundImage.Replace(@"\", "/"))" style="background-image: url('@(baseUrl+FacultyModel.Page.BackgroundImage.Replace(@"\", "/"))')">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>Staff and Faculties</h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">Staff And Faculties</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION TEAM -->
@if (FacultyModel.Teacher != null)
{
    <div class="section pb_70">
        <div class="container">
            <div class="row justify-content-center">
                @if (FacultyModel.Teacher.Count > 0)
                {
                    foreach (var items in FacultyModel.Teacher)
                    {
                        <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                            <div class="team_box team_style2 radius_all_10">
                                <div class="team_img">
                                    <img src="@items.Image" alt="@items.TeacherName">
                                    <ul class="social_icons social_white">
                                        <li><a href="@items.Facebook"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="@items.Twitter"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="@items.GooglePlus"><i class="ion-social-googleplus"></i></a></li>
                                        <li><a href="@items.Instagram"><i class="ion-social-instagram-outline"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team_content">
                                    <div class="team_title">
                                        <h5>@items.TeacherName</h5>
                                        <span>@items.Designation</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="text-center"><h4>Data not found</h4></div>
                }
            </div>
        </div>
    </div>
}
<!-- END SECTION TEAM -->
