@using College.Helpers
@using College.Model.DataTransferObject.FrontEndOtherDto
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home -";
    var pageName = ViewContext.RouteData.Values["action"].ToString();
    var baseUrl = Url.ActionContext.HttpContext.Request.Scheme + "://" + Url.ActionContext.HttpContext.Request.Host;
}
@{
    var LayoutModel = HttpContextAccessor.HttpContext.Session.GetComplexData<LayoutModelDto>("_Layout");
    var HomeModel = HttpContextAccessor.HttpContext.Session.GetComplexData<HomepageModelDto>("_Index");
}
<!--Baner Start-->
@if (HomeModel.PopUp != null)
{
    <div id="popupModal" class="modal fade">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content bg-transparent">
                <button type="button" class="text-right close text-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                <img src="@(HomeModel.PopUp.Link)" alt="POPUP">
            </div>
        </div>
    </div>
}

<!--Baner End-->
<!-- START SECTION BANNER -->
@if (HomeModel.Carousel != null)
{
    <div class="banner_section full_screen staggered-animation-wrap">
        <div id="carouselExampleControls" class="carousel slide carousel-fade carousel_style1 light_arrow"
             data-ride="carousel">
            <div class="carousel-inner">
                @if (HomeModel.Carousel.Count > 0)
                {
                    foreach (var item in HomeModel.Carousel)
                    {
                        <div class="carousel-item @(item.CarouselId == 1 ? "active" : "")  background_bg overlay_bg_60" data-img-src="@(baseUrl + item.Image.Replace(@"\", "/"))" style="background-image: url('@(baseUrl + item.Image.Replace(@"\", "/"))');">
                            <div class="banner_slide_content">
                                <div class="container">
                                    <!-- STRART CONTAINER -->
                                    <div class="row justify-content-center">
                                        <div class="col-lg-7 col-md-12 col-sm-12 text-center">
                                            <div class="banner_content text_white">
                                                <h2 class="staggered-animation" data-animation="fadeInUp"
                                                    data-animation-delay="0.2s">
                                                    @item.Title
                                                </h2>
                                                <p class="staggered-animation" data-animation="fadeInUp"
                                                   data-animation-delay="0.4s">
                                                    @item.Summary
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- END CONTAINER-->
                            </div>
                        </div>
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <i class="ion-chevron-left"></i>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <i class="ion-chevron-right"></i>
            </a>
        </div>
    </div>
}

<!-- END SECTION BANNER -->
@if (HomeModel.Page != null)
{
    <!-- START SECTION ABOUT -->
    <div class="section background_bg bg_blue fixed_bg" data-img-src="/images/pattern_bg1.png" id="MoveHere">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about_img animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                        <img src="@HomeModel.Page.BackgroundImage" alt="@HomeModel.Page.PageName">
                    </div>
                </div>
                <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                    <div class="about_section">
                        <div class="heading_s1 heading_light">
                            <h2>@HomeModel.Page.PageName</h2>
                        </div>
                        @Html.Raw(HomeModel.Page.Description)
                        <a class="btn btn-tran-light btn-radius" asp-area="" asp-controller="Home" asp-action="About">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION ABOUT -->
}
<!-- START SECTION COURSES-->
@if (HomeModel.AcademicItems != null && HomeModel.Academic != null)
{
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="heading_s1 text-center">
                        <h2>Academics</h2>
                    </div>
                    <p class="text-center">
                    @(Html.Raw(HomeModel.Academic.Description))
                </div>
            </div>
            <div class="row">
                @if (HomeModel.AcademicItems.Count > 0)
                {
                    foreach (var item in HomeModel.AcademicItems)
                    {
                        <div class="col-lg-6 col-md-6">
                            <div class="courses_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp"
                                 data-animation-delay="0.3s">
                                <div class="courses_img">
                                    <a href="@item.Link">
                                        <img src="@item.Image" alt="@item.Title">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <h5 class="courses_title">
                                        <a href="@item.Link">@item.Title</a>
                                    </h5>
                                    <p class="text-dark">
                                        @Html.Raw(item.Description)
                                    </p>
                                    <a class="btn btn-dark btn-radius" href="@item.Link">Read More</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
<!-- END SECTION CLASSES-->