@model IList<College.Model.DataTransferObject.GalleryDto.ImageModelDto>
@using System.Text
@using System.Net
@using College.Helpers
@using College.Model.DataTransferObject.FrontEndOtherDto
@using College.Model.DataTransferObject.PageDto
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Individual Gallery -";
    string pageName = @ViewContext.RouteData.Values["action"].ToString();
    string baseUrl = Url.ActionContext.HttpContext.Request.Scheme + "://" + Url.ActionContext.HttpContext.Request.Host;
}
@{
    var LayoutModel = HttpContextAccessor.HttpContext.Session.GetComplexData<LayoutModelDto>("_Layout");
    var GalleryModel = HttpContextAccessor.HttpContext.Session.GetComplexData<PageModelDto>("_Gallery");
}
<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light" data-img-src="@(baseUrl+GalleryModel.BackgroundImage.Replace(@"\", "/"))" style="background-image: url('@(baseUrl+GalleryModel.BackgroundImage.Replace(@"\", "/"))')">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>Individual Gallery</h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Gallery" asp-controller="Home">Gallery</a></li>
                    <li class="breadcrumb-item active">Individual Gallery</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION BLOG -->
<div class="section pb_70">
    <div class="container">
        <div class="row p-2">
            <div class="col-12 text-center">
                <h4>@(string.IsNullOrWhiteSpace(GalleryModel.Description) ?"": GalleryModel.Description)</h4>
            </div>
        </div>
        @if (Model.Count > 0)
        {
            <div class="row  mt-2">
                <div class="col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <ul class="grid_container gutter_medium grid_col3 image_gallery">
                        <li class="grid-sizer"></li>
                        @foreach (var item in Model)
                        {
                            <li class="grid_item design adv">
                                <div class="image_gallery_item">
                                    <a href="@(baseUrl+item.ImageLink.Replace(@"\", "/"))">
                                        <div class="gallery_img">
                                            <img src="@(baseUrl+item.ImageLink.Replace(@"\", "/"))" alt="@(baseUrl+item.ImageLink.Replace(@"\", "/"))">
                                        </div>
                                        <div class="gallary_hover_box">
                                            <i class="ti-zoom-in"></i>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-danger bold">Gallery Not Found</h3>
                </div>
            </div>
        }
    </div>
</div>
<!-- END SECTION BLOG -->